*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header{
    background: linear-gradient(to right, rgb(132, 19, 244), blue);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    
}

body {
    background-position: center;
    background-image: url(background.png);
    background-repeat: repeat;
    background-position-y: top;
}


#logo {
    width: 40px;
    margin: 10px;

}

.checkbutton{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
 ul { 
    display: flex;
 }

 li{
    margin: 0 5px;
    text-transform: uppercase;
 }

 #check{
    display: none;
 }
 /* media query*/
 @media (max-width:1199.99px){
    nav ul li a{
        font-size:16px;
    }
 }

 @media(max-width: 699.98px){

 }

 @media(max-width: 520px){
    .checkbutton {
        display: block;
    }
    ul{
        display: block;
        position: fixed;
        width: 100%;
        background: blueviolet;
        top: 80px;
        left:-100%



    }
    nav ul li{
        display: block;
        margin:20px0;


    }
    nav ul li a{
        font-size: 15px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left: 0;
    }
 }